{
    "DestinationName": "RiskManagementService",
    "OfflineEnabled": true,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "OfflineOptions": {
	"StoreParameters": {}
},
    "PathSuffix": "",
    "SourceType": "Local",
    "ServiceUrl":""
}